data.json

dist/.DS_Store
dist/main.app/Contents/Info.plist
dist/main.app/Contents/PkgInfo
dist/main.app/Contents/MacOS/main
dist/main.app/Contents/MacOS/python
dist/main.app/Contents/Resources/__boot__.py
dist/main.app/Contents/Resources/__error__.sh
dist/main.app/Contents/Resources/__pycache__/site.cpython-38.pyc
dist/main.app/Contents/Resources/lib/python3.8/config
dist/main.app/Contents/Resources/lib/python3.8/site.pyc
__pycache__/myFunctions.cpython-38.pyc
__pycache__/myFunctions.cpython-310.pyc
__pycache__/myFunctions.cpython-38.pyc
__pycache__/myFunctions.cpython-310.pyc
dist/main.app/Contents/Resources/myFunctions.py
dist/main.app/Contents/Resources/no_pics.png
dist/main.app/Contents/Resources/site.py
__pycache__/myFunctions.cpython-38.pyc
__pycache__/myFunctions.cpython-310.pyc
